*{
    margin: 0;
}
.clac{
    width: 421px;
    height: 609px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    margin-left: 500px;
#screen{
    color: aliceblue;
    background: rgb(11, 11, 11);
    font-size:xx-large ;
    width: 391px;
    height: 82px;
    margin-left: 13px;
    margin-top: 11px;
    border: none;
    border-radius: 7px;
    pointer-events: none;
}
}
.btn{
    color: aliceblue;
    width: 94px;
    height: 95px;
    margin-left: 6px;
    margin-top: 5px;
    background: #434343;
    border: none;
    border-radius: 50%;
    
}
.material-icons{
    color: red;
}
.btn:hover{
    background-color: brown;
}
.btn:active{
    box-shadow: 1px #582727;
    transform: translateY(4px);
}
.main-body{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: crimson;
}
#bcs{
    color: aliceblue;
    width: 94px;
    height: 95px;
    margin-left: 6px;
    margin-top: 5px;
    background: #434343;
    border: none;
    border-radius: 50%;
}
#bcs:hover{
    background-color: brown;
}
#bcs:active{
    box-shadow: 1px #582727;
    transform: translateY(4px);
}